
doctype html
html
    head
        title VR Web Viewer
        meta(charset='utf-8')
        meta(name='description', content='Virtual Tours')
        script(src='https://aframe.io/releases/1.2.0/aframe.min.js')
        script(src='/javascripts/LegacyJSONLoader.js')
        script(src='/javascripts/aframe-tooltip-component.js')
        script(src='/javascripts/camera-position.js')
        script(src='/javascripts/link-controls.js')
        script(src='/javascripts/curnav.js')
        
    body
        //a-scene(raycaster='far: 100; objects: [link, box];'  camera-position='')
        a-scene(raycaster='far: 100; objects: .clickable;' cursor='rayOrigin: mouse' camera-position='')

            if vrimage_id != null
                a-sky#image-360(radius='30', src='image/' + vrimage_id)
            else
                a-sky#image-360(radius='10', src='#default')
            
            //a-link(href='city.html' position='-3.5 1.5 -1.0' image='#thumbCity')

            if arrowList.left
                a-link.clickable(title=arrowList.left href='http://localhost:3000/vr/scene/'+ arrowList.left position='-6 1.5 0' rotation='0 90 0')

            if arrowList.up
                a-link.clickable(title=arrowList.up href='http://localhost:3000/vr/scene/'+ arrowList.up position='0 1.5 6' image: '#up')

            if arrowList.right
                a-link.clickable(title=arrowList.right href='http://localhost:3000/vr/scene/'+ arrowList.right position='6 1.5 0' rotation='0 90 0')

            if arrowList.down
                a-link.clickable(title=arrowList.down href='http://localhost:3000/vr/scene/'+ arrowList.down position='0 1.5 -6' rotation='0 0 0')

            a-box.clickable(navigate height=0.5 width=0.5 position="0 -2 -2")
            a-entity#leftHand(link-controls='hand: left')
            a-entity#rightHand(link-controls='hand: right')
        
            //a-entity(camera='' look-controls='')
            //    a-entity(cursor='rayOrigin: mouse; fuse: true; fuseTimeout: 5000' position='0 0 -1' geometry='primitive: ring; radiusInner: 0.02; radiusOuter: 0.03' material='color: black; shader: flat')
